workspace.xml
reports/
.gradle/*
.idea/
bin/
out/
target/
ExtentReports/*
debug.log
digital.iml
axe_response_files/
.classpath
.project
.settings/
logs/
cucumber-local-reports/*
Stores_Data.xlsx
chromedriver

